h1{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 20px;   
}
p{
    font-size: 1em;
    color: #666;
    line-height: 1.5;
    margin: 20px;   
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
#menu ul{
    /*list-style-type: square;
    padding-left: 20px;*/
    display: flex;
    justify-content: center; /* Optional: centers the list items horizontally */
    padding: 0;
    list-style-type: none; 
}
li{
    font-size: 1em;
    color: #444;
    margin: 0 10px;
}
div ul {
    list-style-type: square;
    display: block; /* Makes the list items stack vertically */
    padding-left: 30px; /* Optional: Adds indentation for the list */
}
a{
    color: #007BFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
th{
    text-align: left;
    padding: 5px 30px;
}
h2{
    padding-left: 20px;
   
}
#profileimage img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto; /* Centers the image */
}
#header{
    background-color: #3e3a3a;
    color: white;
    padding: 20px;
    text-align: center;
}
#footer{
    text-align: center;
    padding: 20px;
    background-color: #3e3a3a;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#footer p{
    margin: 0;
    color: white;
}