
/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* off-screen-menu */
.off-screen-menu {
    background-color:  #1e3a8a;
    height: 100vh;
    width: 100vw;
    max-width: 250px;
    position: fixed;
    top: 0;
    /*right: -450px;*/
    right:-100vw; /* off-screen */
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    transition: right 0.3s;
    /*transition: .3s ease;*/
    padding: 1em;
    z-index: 2000; /* ✅ stays above nav */
    overflow-x: hidden; /* ✅ avoids horizontal scroll */
}
.off-screen-menu.active {
    right: 0;
}

/* off-screen-menu a */
.off-screen-menu a {
    color: white;
    padding: 0.5em;
}
/* off-screen-menu a:visited */
.off-screen-menu a:visited {
    color: white;
}
/* off-screen-menu a:hover */
.off-screen-menu a:hover {
  color: white;
}
.off-screen-menu a.current {
  font-weight: bold;
  color: white; 
  border-bottom: 3px solid white; 
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    z-index: 2500;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*-----------------------------------------------------*/

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
  }

body{
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      background-color: #FCFCFD;
      color: #1e3a8a;
      scroll-behavior: smooth;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 2px;
      padding: 2px;  
      overflow-x: hidden; /* ✅ prevent horizontal scrolling */
      line-height: 1.6;
}

/* Container */
#container {
  max-width: 1100px;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 0.2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* ✅ prevent horizontal scrolling */
  word-break: break-word; /* Ensure long words break */

}

section, #contactme, #aboutme, #introduction, #projects, #clientprojects {
      padding: 4em 2em;
      max-width: 800px;
      margin: auto;
      flex: 1;
      transform: translateY(20px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      padding-top: 30px; /* prevent overlap from sticky nav */
  }
/*section.visible {
      opacity: 1;
      transform: translateY(0);
  }*/

.project {
    background: white;
    padding: 1em;
    border-radius: 6px;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* nav style */
nav {
  /*background: ;
  color: white;*/
  background-color: #1e3a8a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}
nav a.current {
  font-weight: bold;
  color: white; 
  border-bottom: 3px solid white; 
}
/* Headers */
h1{
    font-size: 2em;
    color: #1e3a8a; /* Primary */
    text-align: center;
}

h2{
    text-align: left;
    color: #1e3a8a; /* Primary */
    margin-bottom: 0.5em;
    padding-bottom: 10px;
}

h3 {
  color: #1e3a8a; /* Primary */
  margin-bottom: 0.5em;
}

.highlight{
    color: #074B34;
}

/* Buttons */
button, .btn {
  background-color: #074B34;
  color: #ffffff;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  text-decoration: none;
}
button:hover, .btn:hover {
  background-color: #1e3a8a;
  color : #ffffff;
}

.project-name {
    font-size: 1.1em; /* Slightly larger font size */
    width: 200px; /* Fixed width for alignment */
}
.repo-link {
    text-decoration: none; /* No underline */
    width:250px; /* Fixed width for alignment */
}

#profileimage img {
  width: 150px;        
  height: 150px;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 0.7em 1.5em;
    font-size: 1rem;
    border-radius: 4px;
    display: none;
    cursor: pointer;
  }

footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
    position: relative;
    bottom: 0; 
  }
/* Links */
a{
    color: #0021C7;
    text-decoration: none;
    word-break: break-word; /* Ensure long words break */
}
a:hover{
    color: #1e3a8a;
    text-decoration: underline;
}

/* Cards */
.card {
  background-color: white; /* White card on light bg */
  border-radius: 12px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

#aboutme-summary, #professional-summary, #technical-skills, 
#certifications, #education, #languages, #interests, 
#projects-list,
#client-projects-list {
    background-color: white;
    border-radius: 8px;
    /*padding-bottom: 1em;
    padding-left: 1em;*/
    padding: 1.5em;
    margin: 2em 0;
   
}
#professional-summary h3,
#technical-skills h3,
#certifications h3,
#education h3,
#languages h3,
#interests h3 {
  margin-bottom: 1em;
}

.summary-list, #certification-list, #education-list, #interest-list, #language-list {
  list-style-type: square;
  padding-left: 1em;
  margin: 0.5em 0;
  color: #1e3a8a;
}

.Tech-Environment {
    list-style-type: none;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 0.5em 0;
    color: #1e3a8a;
}
.Tech-Environment li{
  padding-top: 0.5em;
}

#technical-skills-table {
    border-collapse: collapse;  
    overflow-x: auto;
    width: 100%;
    word-break: break-word;
}
#technical-skills-table th, #technical-skills-table td {
    border-collapse: collapse;  
    padding: 0.5em;
    border: 1px solid #e2e8f0; /* Light gray border */
    word-break: break-word;
}
#technical-skills-table th {
    color: #1e3a8a; /* Primary color for header text */
    text-align: left;   
    /*width: 200px; /* Fixed width for alignment */
}
.summary-list a,
#certification-list a {
    color: #0021C7;
    text-decoration: none;
}
.summary-list a:hover
#certification-list a:hover {
   color: #1e3a8a;
  text-decoration: underline;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.5em;
  margin: 0.5em 0;
  word-wrap: break-word;
}

.project-card h3 {
  font-size: 1.1em;
  color: #1e3a8a;
}

.project-card a {
  color: #0021C7;
  word-break: break-word;
}
.project-card a:hover {
  color: #1e3a8a;
  text-decoration: underline;
}

.project-table {
    width: 100%;
    border-collapse: collapse;  
    overflow-x: auto;
    word-break: break-word; /* Ensure long words break */

}

.project-table th {
   border-collapse: collapse; 
    font-size: 1.2em;
    text-align: left;
    padding: 0.5em;
    color: #1e3a8a; /* Primary color for header text */
    word-break: break-word; /* Ensure long words break */
}
.project-table td {
   border-collapse: collapse; 
    padding: 0.5em;
    vertical-align: top;
    word-break: break-word; /* Ensure long words break */
}
.project-table th, .project-table td {
    padding: 0.5em;
    border: 1px solid #e2e8f0; /* Light gray border */
}
.order-list {
    padding-left: 1em;
    margin: 0.5em 0;
    color: #1e3a8a;
}